<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

   <!-- dubbo配置应用信息-->
    <dubbo:application name="health_service"/>
    <!--配置registry-->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"></dubbo:registry>
    <!--配置暴露服务的端口以及协议-->
    <dubbo:protocol port="20081" name="dubbo" ></dubbo:protocol>
    <!--dubbo注解扫描装配bean 并且基于接口对外暴露服务-->
    <dubbo:annotation package="com.itheima.service"></dubbo:annotation>

</beans>